body{
    background-image: linear-gradient(
        180deg, #FFCC5C,#FFEEAD
    );
    /* background-clip: text; */
}
.card-img-top{
    width: 200px;
    height: 200px;
}
h1{
    font-family: system-ui;
    color: transparent;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -0.015em;
    background-color: black;
    /* background-image: linear-gradient(
        180deg, #FF6F69, #FFCC5C
    ); */
    background-clip: text;
    -webkit-background-clip: text;
}
button{
    background-image: linear-gradient(
        180deg, #C8E5D7, #96CEB4
    );
}

#cuerpoCard{
    background-color: #FFEEAD;
}
h5{
    font-size: 10px;
}